body{
    font-family: "Aclonica", sans-serif;
    list-style-type: none;
    background-color: transparent;
    position: relative;
}
body h2{
    font-size: 90px;
    color: rgb(111, 211, 236);
    text-decoration: underline;
    padding: 70px;
    transform-style: preserve-3d;
    transform: rotateX(30deg) rotateY(30deg) rotateZ(-10deg);
}

.slide-right{
    animation:slide-right 1s linear both
}

@keyframes slide-right{   
    0% {
    transform-style: preserve-3d;
    transform: rotateX(30deg) rotateY(30deg) rotateZ(-10deg) translateX(0);
    } 
    100% {
    transform-style: preserve-3d;
    transform: rotateX(30deg) rotateY(30deg) rotateZ(-10deg) translateX(100);
    }
}

header div{
    margin-top: 100px;
    margin-bottom: 100px;
}
header h1{
    color: rgb(13, 128, 228);
    font-size: 7rem;
    margin-top: auto;
    font-weight: bolder;
    text-shadow: 7px 4px darkblue;
    -webkit-text-stroke: 0.1mm black;
    text-align: left;
}
nav{
    background: rgb(152,152,152);
    background: linear-gradient(90deg, rgba(152,152,152,1) 0%, rgba(182,182,182,1) 43%, rgba(255,255,255,1) 100%);
    padding: 30px;
    border-left: 50px rgb(13, 128, 228) solid;
    border-top: 20px rgb(13, 128, 228) solid;
    border-radius: 20px 20px 20px 20px;
    margin-top: 10px;
}
nav div{
    margin-left: 10%;
    margin-right: 10%;
}
nav p{
    transform-style: preserve-3d;
    transform: rotateX(30deg) rotateY(-30deg) rotateZ(25deg);

    display: inline-block;
    margin-right: 10%;
}
nav a{
    text-decoration: none;
    color: rgb(13, 128, 228);
    font-family: "Aclonica", sans-serif;
    font-size: 50px;
    font-weight: bolder;
}


iframe{
    width: 1000px;
    height:500px;
    border: darkgray 5px dashed;
    margin-left: 5%;
    margin-bottom: 5%;
}

section div{
    display: inline-block;
    vertical-align: top;
    margin-left: 7%;
    margin-bottom: 5%;
}

@MEDIA (MAX-WIDTH: 1600PX){
    iframe{
        width: 90%;
    }
    section div{
        margin-left: 30%;
    }
    header h1{
        font-size: 3rem;
    }
}

#circle div{
    max-height: 450px;
    overflow: auto;
    position: relative;
}

section h3{
    margin-left: 10%;
    padding: 15px;
    border: 2px black solid;
    max-width: 250px;
    font-size: 40px;
}

#circle{
    background: rgba(0, 0, 205, 0.70);
    border-radius: 50%;
    width: 400px;
    height: 400px;
    position: relative;
}

/*colores*/
    .c1{
        color:#0dc8ff;
    }
    .c2{
        color:#6ae7fd;
    }
    .c3{
        color:#69fdfd;
    }
    .c4{
        color:#0bcaff;
    }
    .c5{
        color:#377cf7;
    }

